<div class="form-wrapper">
    <form action="/" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Current Ranking</th>
                </tr>
            </thead>
            <tbody>
            ${topicInfoData.map(topic => `
                <tr>
                    <td class="topic-name">${topic.topic_name}</td> 
                    <td class="has-input">
                        ${classInfoData.map(ranking => `
                            <label class="v2-input">
                                ${ranking.level_description}
                                <input type='radio' name="${topic.topic}" value="${ranking.id}" 
                                ${(topic.ranking === ranking.id) ? 'checked' : ''}>
                            </label>
                        `).join('')}
                    </td>
                </tr>
            `).join('')}
            </tbody>
        </table>
            <div class="btn-wrapper">
                <button type="submit">Update Rankings</button>
            </div>
        </form>
</div>


