<div class="v2-form-wrapper">
    <form action="/" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Current Status</th>
                </tr>
            </thead>
            <tbody>
            ${classInfoData.map(topic => `
                <tr>
                    <td class="topic-name">${topic.topic_name}</td> 
                    <td>
                        ${topicInfoData.map(status => `
                            <label class="v2-input">
                                ${status.status_title}
                                <input type='radio' name="${status.topic}" value="${status.id}" 
                                ${(status.status === status.id) ? 'checked' : ''}>
                            </label>
                        `).join('')}
                    </td>
                </tr>
            `).join('')}
            </tbody>
        </table>
            <div class="btn-wrapper">
                <button type="submit">Submit Rank</button>
            </div>
        </form>
</div>


