<div class="v2-form-wrapper">
    <form action="/" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Current Rank</th>
                </tr>
            </thead>
            <tbody>
            ${rankingData.map(topic => `
                <tr>
                    <td class="topic-name">${topic.topic_name}</td> 
                    <td>
                        ${topicInfoData.map(rank => `
                            <label class="v2-input">
                                ${rank.rank_name}
                                <input type='radio' name="${topic.topic_name}" value="${rank.id}" 
                                ${(rank.rank === rank.id) ? 'checked' : ''}>
                            </label>
                        `).join('')}
                    </td>
                </tr>
            `).join('')}
            </tbody>
        </table>
            <div class="btn-wrapper">
                <button type="submit">Submit Rank</button>
            </div>
        </form>
</div>

