<div class="form-wrapper">
    <form name="survey-form" action="/" method="POST">
        ${classInfoData.map(topics => {
            return `<p>I am <select>
                ${topicInfoData.map(status => {
                    return `<option value="${status.id}">${status.status_title}</option>`
                }).join('')}
            </select class="custom-select">  at <strong>${topics.topic_name}</strong>.</p>`
        }).join('')}
        <button type="submit">Rank</button>
    </form>
</div>